--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
pydantic
python-multipart
PyPDF2
groq
python-dotenv
httpx
spacy
scikit-learn
sentence-transformers==3.0.1
transformers==4.41.2
torch==2.3.1+cpu
telethon
